<div class="card" *ngFor="let message of messages">
  <div class="card__content">
    <div class="card__header">
      <h2>{{message.type}}</h2>
    </div>
    <div class="col-3">
      <div class="card__avatar" *ngIf="message.avatar">
        <img src={{message.avatar}} alt="User Name?" />
      </div>
    </div>
    <div class="col-7">
      <p class="card__message">{{message.text}}</p>
      <p class="card__origin"  (click)="select($event)" name={{message.username}}>@{{message.username}} - {{message.date | date:'short'}}</p>
    </div>
  </div>
</div>
  