<router-outlet></router-outlet>

<div class="col-2">
    <ul>
        <li>
            <button (click)="showUsers()">Users</button>
        </li>
        <li>
            <button (click)="showMessages()">Messages</button>
        </li>
        <li>
            <button (click)="showPitches()">Pitches</button>
        </li>
        <li>
            <button (click)="postMessage()">Post a Message</button>
        </li>
    </ul>
</div>
<div class="col-6">
    <app-list-users *ngIf="showUserList"></app-list-users>
    <app-list-messages *ngIf="showMsgList"></app-list-messages>
    <app-list-pitchs *ngIf="showPitchList"></app-list-pitchs>
</div>




