
.header {
  align-items: center;
  background-color: #d4d4d4;
  display: flex;
  padding: 20px;
  justify-content: space-between;

  .header__action {
    flex: 0 0;
  }

  .header__counter {
    flex: 0 0;
    white-space: nowrap;
  }
}

.header__button {
  white-space: nowrap;
  border-radius: 2px;
}

button {
  width: 100%;
  background-color: #649c66;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
}

button:disabled {
  background-color: #797979;
  color:#aaaaaa;
}
